<div class="page-header">
    <h1>
		Usuarios
		<a href="/users/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			Nuevo Usuario
		</a>
	</h1>
</div>
<div class="jumbotron text-center" ng-show="user.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Cargando Usuarios...</p>
</div>
<table class="table table-bordered table-striped" ng-show="user.users">
    <thead>
        <tr>
            <th>NUHSA</th>
            <th>Nombre</th>
            <th>Código Registro</th>
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in user.users">
            <td>{{ person.nuhsa }}</td>
            <td>{{ person.completeName }}</td>
            <td>{{ person.regCode }}</td>
            <td class="col-sm-3">
                <a ng-href="/users/{{ person.nuhsa }}" class="btn btn-danger">Editar</a>
                <a href="#" ng-click="user.deleteUser(person.nuhsa)" class="btn btn-primary">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
